[Unit]
Description=Web Server 3
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name=webserver3 -p 82:80 jonlangemak/coreos:webserver3
ExecStartPost=/usr/bin/etcdctl set /domains/webserver3/%H:%i running
ExecStop=/usr/bin/docker stop webserver3
ExecStopPost=/usr/bin/etcdctl rm /domains/webserver3/%H:%i
